header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5d5857;
    padding: 10px;
    height: 80px;
}
.header .logo {
    height: 60%;
}
.logo img {
    width: 100px;
    max-height: auto;
}

/* Estilos para el carrito emergente desde el lado derecho */
.cart-popup {
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente oculto fuera de la pantalla */
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-popup.active {
    right: 0; /* Mostrar el carrito */
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Oscurecer el fondo cuando el carrito está abierto */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Lista producto */
#product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

@media (max-width: 1024px) {
    #product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    #product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    color: #555;
}

.product button {
    background-color: #ff1801;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.product button:hover {
    background-color: #ff1801;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
    justify-items: center;
}
